<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fuzable.Podcast.Entities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fuzable.Podcast.Entities.Properties.Settings>
            <setting name="MaximumGroupSize" serializeAs="String">
                <value>4294967296</value>
            </setting>
        </Fuzable.Podcast.Entities.Properties.Settings>
    </userSettings>
</configuration>